.lead {
  margin: 0 auto;
  padding: 56px 0 0;

  width: 984px;

  display: flex;
  flex-direction: column;
  align-content: center;

  font-family: 'Inter', 'Arial', 'sans-serif';
}

@media screen and (max-width: 1160px) and (min-width: 1024px) {
  .lead {
    padding: 48px 0 0;
    max-width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 840px) and (min-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
