.place__website {
  display: flex;
  flex-direction: column;
  align-self: end;
}

@media screen and (max-width: 620px) {
  .place__website {
    grid-row: 2;
    align-self: flex-start;
    max-width: 288px;
    margin: 0px 16px;
  }
}
